* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body.corpo {
    background-color: cyan;
}
h1{
    color: green;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -40px;
    text-shadow: 2px 2px white;
}

div.container.logo{
    margin-top: 90px;
    margin-bottom: -50px;
}

.img-responsive.text-center{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

input{
    margin-top: -10px;
}

button{
    margin-top: -5px;
    margin-bottom: 5px;
    background-color: rgb(26, 122, 122);
    color: white;
}

a{
    color: green;
}
a:hover{
    text-decoration: none;
    color: white;
}

/* MEDIAS */
@media (max-width: 575.98px) {
    h1 {
      font-size: 30px;
      text-align: center;
    }

    div.container.logo{
        margin-top: 30px;
    }
}